.cardTitle {
    margin-left: 1em;
    margin: 20px;
}

.github {
    width: 80%;
    margin-left: 10%;
}


.ivu-card {
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    box-shadow: 1px 1px 1px 1px lightgray;
}


.repos {
    width: 100%;
    height: 80px;
    overflow-y: auto;
}

.reposIcon {
    margin: 10px;
}

.reposTitle {
    color: #2d8cf0;
}

.reposDesc {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    color: #515a6e;
}

/*Github 角标设置*/

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}