/*媒体视图 屏幕宽度大于800px*/
@media only screen and (min-width: 800px) {
    .menuTitle {
        display: inline-block;
        font-weight: 900;
    }

    .subMenuTitle {
        color: white;
    }

    #pcMenu {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;
    }

    #mobileMenu {
        display: none;
    }

    .menuIcon {
        color: #FFFFFF;
    }
}

/*媒体视图 屏幕宽度小于 800px*/
@media only screen and (max-width: 800px) {
    .menuTitle {
        color: black;
    }

    .subMenuTitle {
        font-weight: 900;
        color: black;
    }

    #pcMenu {
        display: none;
    }

    #mobileMenu {
        display: block;
        background-color: #3b455e !important;
    }

    .menuIcon {
        color: black;
    }

    .mobileTitle {
        color: #f0f2f5;
        padding: 5px;
        font-weight: 900;
        font-size: 18px;
    }
}
