.articleEdit {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    height: 1024px;
    width: 90%;
    max-width: 90%;
}

/* 标题输入框样式*/
.inputTitle {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}


