.container {
  height: 100%;
  /* overflow: auto; */
}
.mavon {
  padding: 12px;
  margin-top: 12px;
  display: flex;
}

.articleEdit {
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.editor {
  height: 100px;
  width: 80%;
  height: 100%;
  flex: 1;
}

/* 标题输入框样式*/
.inputTitle {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}
