#app {
    width: 100%;
    font-family: Monaco, "Microsoft YaHei", "PingFang SC", SimSun, "Helvetica Neue", Helvetica, "Hiragino Sans GB", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    position: relative;
}

html body {
    cursor: url('./assets/cursor.png'), auto;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f0f2f5;
}

body > .el-container {
    margin: 40px;


}

Side {
    margin-top: 40px;
}

.ivu-menu {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
}

.ivu-menu-item > a {
    color: #2c3e50;
}

.routerView {
    width: 100%;
    max-height: 10800px;
    background-color: #f0f2f5;
}

a {
    text-decoration: none;
}

.router-link-active {
    text-decoration: none;
}

